* {
    background-color: black;
    color: white;
}

h1 {
    font: italic small-caps bold 150px;
    font-family: "Comic Sans MS", "Comic Sans";
    text-align: center;
}

.page {
    display: flex;
    flex-flow: column;
    align-items: center;
}

img {
    width: 300px;
    border-radius: 100px;
}

/* DEBUG: Show flex box border */
/*
.page > * {
    border: 2px solid gray;
    border-radius: 5px;
    background-color: gray;
}
*/
